backup
__pycache__
monitors-*.conf

config.package/.config/hypr/colors.conf
config.package/.config/hypr/monitors.conf
config.package/.config/hypr/workspaces.conf
config.package/.config/hypr/hypr.d/*personal.lua
config.package/.config/hypr/hyprlock.d/*personal.conf
config.package/.config/rofi/colors.rasi
config.package/.config/yazi/theme.toml*
local.package/.local/bin/scripts-menu.zsh
config.package/.config/DankMaterialShell/firefox.css
config.package/.config/hypr/dms/colors.conf
/config.package/.config/hypr/hyprland.conf.backup1772029945
/config.package/.config/zed/settings_backup.json
/config.package/.config/DankMaterialShell/plugins/.repos
/config.package/.config/hypr/dms/profiles
/config.package/.config/hypr/dms/outputs.conf
config.package/.config/DankMaterialShell/monitors.json
config.package/.config/hypr/dms/colors.lua
config.package/.config/hypr/dms/outputs.lua
.dms-backups
config.package/.config/htop/htop_history
