/** Basic config file **/

configuration {
  modes: [ combi ];
  combi-modes: [ window, drun, run ];
  show-icons:         true;
  icon-theme:         "Papirus";
  font:               "Iosevka ExtraLight 16";
}

@theme "theme-matugen.rasi"
