[include]
	path = .gitconfig-personal

[core]
	autocrlf = input
	excludesfile = ~/.dotfiles/git/gitignore
	pager = delta

[alias]
	branches = "for-each-ref --count=15 --sort=-committerdate --format=\"%(color:blue)%(authordate:relative)\t%(color:red)%(authorname)\t%(color:white)%(color:bold)%(refname:short)\" refs/heads"
	remote-branches = "for-each-ref --count=15 --sort=-committerdate --format=\"%(color:blue)%(authordate:relative)\t%(color:red)%(authorname)\t%(color:white)%(color:bold)%(refname:short)\" refs/remotes"
	ci = "commit -v"
	co = "checkout"
	diff-svg = "difftool -t lukaj -y"
	dump = "cat-file -p"
	fdiff = "diff --name-only"
	fetchall = "fetch --all"
	hist = "log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short"
	idiff = "diff -w"
	last = "log -1 HEAD"
	lg = "log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
	sdiff = "diff --staged"
	slog = "log --pretty=format:'%h %ad | %s%d [%an]' --first-parent --date=local"
	st = "status"
	sw = "switch"
	tohead = "reset --hard HEAD"
	type = "cat-file -t"
	unstage = "reset HEAD --"

[color]
	diff = auto
	status = auto
	branch = auto

[color "status"]
	changed = yellow
	added = green
	untracked = red

[push]
	default = simple

[merge]
	tool = meld
	conflictstyle = diff3

[lfs]
	contenttype = false

[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f

[fetch]
	prune = true

[rebase]
	autosquash = true
	autoStash = true

[diff]
	tool = meld
	colorMoved = default

[pull]
	rebase = false

[init]
	defaultBranch = main

[interactive]
	diffFilter = delta --color-only

[add.interactive]
	useBuiltin = false # required for git 2.37.0

[delta]
	navigate = true    # use n and N to move between diff sections
	light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)

[http]
	postBuffer = 52428800

[user]
	name = Juracy Filho

[credential]
	helper = gopass

[diff "sqlite3"]
	command = gitsqldiff

[difftool "lukaj"]
	cmd = lukaj $LOCAL $REMOTE
